<?php 
	session_start();
 ?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BooksDrawer</title>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link href="themes/8/js-image-slider.css" rel="stylesheet" type="text/css" />
	<link href="themes/8/tooltip.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="themes/8/js-image-slider.js" type="text/javascript"></script>
	<script src="themes/8/tooltip.js" type="text/javascript"></script>
    <script type="text/javascript"></script>
	<script src="js/buscar.js"></script>
	<script src="js/slider.js"></script>
</head>
<body>
	<header>
		<img id="logo" src="img/logo_home.png" alt="LOGO">
		<nav>
			
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Librería</a></li>
				<li><a href="#">Perfil</a></li>
				<li><a href="#">Conectarse</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#" class="busc">Buscar<span class="icon-search"></span></a></li>
			</ul>
		</nav>
	</header>
		<nav id="busquedas">
			<p>Buscar por:</p>
			<ul>
				<li class="openForm"><a href="#">Titulo<span class="icon-chevron-down"></span></a>
				<ul>
					<li class="formBuscar">
						<form action="formBuscar.php">
						<input type="text" name="titulo"/>
						<input type="submit" value="Buscar"/>
						</form>
					</li>
				</ul>
				</li>
				<li class="openForm"><a href="#">Autor<span class="icon-chevron-down"></span></a>
				<ul>
					<li class="formBuscar">
						<form action="formBuscar.php">
						<input type="text" name="autor"/>
						<input type="submit" value="Buscar"/>
						</form>
					</li>
				</ul>
				</li>
				<li class="openForm"><a href="#">Genero<span class="icon-chevron-down"></span></a>
				<ul>
					<li class="formBuscar">
						<form action="formBuscar.php">
							<select name="genero" required>
								<option value="Aventura">Aventura</option>
								<option value="Bélicas">Bélicas</option>
								<option value="Biografía">Biografia</option>
								<option value="Ciencia Ficción">Ciencia Ficción</option>	
								<option value="Clásicos de la literatura">Clásicos de la literatura</option>
								<option value="Drama">Drama</option>
								<option value="Ensayo">Ensayo</option>
								<option value="Erótica">Erótica</option>
								<option value="Espionaje">Espionaje</option>
								<option value="Fantasía">Fantasía</option>
								<option value="Ficción literaria">Ficción literaria</option>
								<option value="Histórica">Histórica</option>
								<option value="Humor">Humor</option>
								<option value="Infantil">Infantil</option>
								<option value="Juvenil">Juvenil</option>
								<option value="Literatura contemporánea">Literatura contemporánea</option>
								<option value="Narrativa">Narrativa</option>
								<option value="Novela negra">Novela negra</option>
								<option value="Misterio">Misterio</option>
								<option value="Poesía">Poesía</option>
								<option value="Policíacas">Policíacas</option>
								<option value="Romántica">Romántica</option>
								<option value="Suspense">Suspense</option>
								<option value="Terror">Terror</option>
							</select>
							<input type="submit" value="Buscar"/>
						</form>
					</li>
				</ul>
				</li>
			</ul>
		</nav>
		<div id="barlarge">
        	<div class="contenido">
				<div class="backgroundSlider">
    				<img src="images/foto.jpg">
    				<img src="images/transformation.jpg">
    				<img src="images/libros.jpg">
				</div>
			</div>
			<h1>Top 10 libros</h1>
			<div id="content">
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
			<div class="bookItem">
				<img src="../images/portada/MOBYDICK.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/DONQUIJOTEDELAMANCHA.jpeg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ELRUIDOYLAFURIA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/GUERRAYPAZ.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LAMETAMORFOSIS.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LASMILYUNANOCHES.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
		</div>
		<h1>Novedades</h1>
			<div id="content">
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
			<div class="bookItem">
				<img src="../images/portada/MOBYDICK.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/DONQUIJOTEDELAMANCHA.jpeg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ELRUIDOYLAFURIA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/GUERRAYPAZ.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LAMETAMORFOSIS.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LASMILYUNANOCHES.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
		</div>
		<h1>Recomendados para ti</h1>
			<div id="content">
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
			<div class="bookItem">
				<img src="../images/portada/MOBYDICK.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/DONQUIJOTEDELAMANCHA.jpeg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ELRUIDOYLAFURIA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/GUERRAYPAZ.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LAMETAMORFOSIS.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/LASMILYUNANOCHES.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/ANAKARENINA.jpg">
			</div>
			<div class="bookItem">
				<img src="../images/portada/CRIMENYCASTIGO.png">
			</div>
		</div>

</body>
</html>